---
import "../styles/global.css";
---


<html lang="en">
	<head>
		
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Main_Watch</title>
	</head>
	<body>
		<div id="my_website">
			<div class = "flex justify-end">
				<h1 class="text-yellow-500 text-right text-[10vw] font-['Arial'] font-bold">
					jms
				</h1>
				<div class="text-yellow-500 pt-[5vw] pr-[5vw] text-[4vw] font-['Arial'] font-bold w-[30%] leading-none">
					corner of the cosmos
				</div>
			</div>
		</div>
		<div id="Hello">
			<h2 class="text-yellow-400 font-['Arial'] font-bold pt-[20vw] text-[7vw] pl-[3vw]">
				Hey,
			</h2>
			<div class="pl-[10vw] text-yellow-400 font-['Arial'] font-bold pt-[2vw] text-[2vw]">
				Welcome to my little space on the internet, it may be a small space but I hope its up to your liking
			</div>
		</div>



		<div class="final_section">
			<div class="h-[150vw] bottom-[100vw]">
				
			</div>
		</div>
	</body>
</html>

<style>
  body {
    background-image: url("../../assets/sky.png");
	background-position: center;
	background-position: top;
	background-size: cover;
  }
  .final_section{
	background-image: url("../../assets/below.png");
	background-position: center;
	background-position: top;
	background-size: 130% auto;

  }
</style>