---
import "../styles/global.css";
import "../styles/index.css";
---


<html lang="en">
	<head>
		<script src="../javascript/index.js"></script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Main_Watch</title>
	</head>
	<body>
		<div id="my_website">
			<div class = "flex justify-end">
				<h1 class="text-yellow-500 text-right text-[10vw] font-['Arial'] font-bold">
					jms
				</h1>
				<div class="text-yellow-500 pt-[5vw] pr-[5vw] text-[4vw] font-['Arial'] font-bold w-[30%] leading-none">
					corner of the cosmos
				</div>
			</div>
		</div>
		<div id="Hello">
			<h2 class="text-yellow-400 font-['Arial'] font-bold pt-[20vw] text-[7vw] pl-[3vw]">
				Hey,
			</h2>
			<div class="pl-[10vw] text-yellow-400 font-['Arial'] font-bold pt-[2vw] text-[2vw] mb-[500vw]">
				Welcome to my little space on the internet, it may be a small space but I hope its up to your liking
			</div>
		</div>

		<div>
			<img src="../../assets/grass.png" class="">
			<img src="../../assets/observitory.png" id='observitory' class="absolute top-[510vw] darkness">
		</div>
		
		<div class="final_section">
			<div id="firstlast_box" class="pl-[21vw] pt-[80vw]  font-['Arial'] font-bold text-[1.5vw] pr-[27vw]">
				Well you made it all the way here so you might as well learn a small amount about me. My name is James and I am a 15 year old coder from NZ. I started coding due to <a href="https://hackclub.com/" class="grey">Hackclub</a> which is a non profit that encourages teens to code. I have participated in Horizons, Siege, Reboot and Scraps along with going to events like Daydream, Campfire and <a href="https://www.kiwihacks.org/" class="grey">Kiwihacks</a>
			</div>
			<div id="secondlast_box" class="pl-[47vw] pt-[8vw] text-black-800  font-['Arial'] font-bold text-[1.5vw] pr-[0vw]">
				<div class="text-[2.5vw]">
					For coding I know a few languages,
				</div> 
				<div>
				I know html, css, python and Javascript. 
				</div>
				<div>
					I typically code in Godot which is a type of game engine that is in GDscript which has python syntax
				</div>
				<div>
					Currently my device runs linux but it is Gnome as I got Gnomed
				</div>
			</div>
			<div id="thirdlast_box" class="pl-[21vw] pt-[8vw] text-black-800 font-['Arial'] font-bold text-[1.5vw]">
				<div>
					The amount of time I have been coding for in Hackclub:
				</div>
				<div id="time">
				</div>
				<div>
					Am I currently coding at this moment?
				</div>
				<div id="current">
				</div>
				<div>
					Do I need to take a rest:
				</div>
				<div>
					Yes
				</div>
				<div>
					Am I?
				</div>
				<div id="wadu" class="pb-[30vw]">
					check
				</div>
			</div>
		</div>
	</body>
</html>
