---
import "../styles/global.css";
---


<html lang="en">
	<head>
		
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Main_Watch</title>
	</head>
	<body>
		<div id="my_website">
			<div class = "flex justify-end">
				<h1 class="text-yellow-500 text-right text-[10vw] font-['Ariel'] font-bold">
					jms
				</h1>
				<div class="text-yellow-500 pt-[5vw] pr-[5vw] text-[4vw] font-['Ariel'] font-bold w-[30%] leading-none">
					corner of the cosmos
				</div>
			</div>
		</div>
		<div>
			<h2 class="text-yellow-300 ont-['Ariel'] font-bold pt-[20vw] text-[4vw] pl-[3vw]">
				Hi
			</h2>
			<div class="pl-[5vw] text-yellow-300 font-['Ariel'] font-bold pt-[2vw]">
				Welcome to my little space on the internet, it may be a small space but I hope its up to your liking
			</div>
		</div>
	</body>
</html>
