---
import "../styles/global.css"
let image = 'https://apod.nasa.gov/apod/image/2605/M104noirlab2612a.jpg'
try {
	const fim = await fetch(`https://api.nasa.gov/planetary/apod?api_key=${import.meta.env.API_KEY}`);
	const tean = await fim.json();
	image = (tean.url)
} catch (error) {
	console.log('Error fetching data:', error);
	image = ('https://apod.nasa.gov/apod/image/2605/M104noirlab2612a.jpg');
}
---


<html lang="en">
	<head>
		<script src="../javascript/look.js"></script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>telescope</title>
	</head>
    <body class="overflow-hidden">
        <img id="the_image" class="z-10 absolute w-[200vw] max-w-none" src={image}>
		<img class="z-20 absolute top-[-20vw] left-[0vw] w-[200vw] h-auto" src="../../assets/blackout.png">
		<button id="Goback" class="z-90 absolute top-0 left-[90vw] text-grey-100">Return</button>
		<button id="Remove" class="z-90 absolute top-0 left-0 text-grey-100">Remove telescope lens</button>
	</body>
</html>
