---
import "../styles/look.css"
import "../styles/global.css"
let image = 'https://apod.nasa.gov/apod/image/2605/M104noirlab2612a.jpg'
try {
	const fim = await fetch(`https://api.nasa.gov/planetary/apod?api_key=${import.meta.env.API_KEY}`);
	const tean = await fim.json();
	image = (tean.url)
} catch (error) {
	console.log('Error fetching data:', error);
	image = ('https://apod.nasa.gov/apod/image/2605/M104noirlab2612a.jpg');
}
---


<html lang="en">
	<head>
		<script src="../javascript/look.js"></script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>telescope</title>
	</head>
    <body class="overflow-hidden">
        <img id="the_image" class="-z-30 absolute w-[200vw] max-w-none" src={image}>
		<img id="blackout" class="-z-0 absolute top-[-25vw] left-[0vw] w-[200vw] h-auto" src="../../assets/blackout.png">
		<button id="Goback" class="z-90 absolute top-[5vw] left-[80vw] bg-[#000080] text-[a1a8b3] rounded px-[2vw] py-[2vh] text-[1vw]">Return to the main</button>
		<button id="Remove" class="z-90 absolute top-[5vw] left-[5vw] bg-[#000080] text-g[a1a8b3] rounded px-[2vw] py-[2vh] text-[1vw]">Remove telescope lens</button>
		<button id="Fullimage" class="-z-10 absolute top-[70vh] left-[5vw] bg-[#000080] text-g[a1a8b3] rounded px-[2vw] py-[2vh] text-[1vw]">Just full image</button>
		<img id="limage" class="-z-90 absolute h-[50vw] max-w-none w-auto" src={image}>

	</body>
</html>