---
import "../styles/global.css"
let image = 'https://apod.nasa.gov/apod/image/2605/M104noirlab2612a.jpg'
try {
	const fim = await fetch(`https://api.nasa.gov/planetary/apod?api_key=${import.meta.env.API_KEY}`);
	const tean = await fim.json();
	console.log(tean)
	image = (tean.url)
} catch (error) {
	console.log('Error fetching data:', error);
	image = ('https://apod.nasa.gov/apod/image/2605/M104noirlab2612a.jpg');
}
---


<html lang="en">
	<head>
		<script src="../javascript/look.js"></script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>looking</title>
	</head>
    <body class="overflow-hidden">
        <img id="the_image" class="absolute w-[200vw] max-w-none" src={image}>
	</body>
</html>
