---
import "../styles/global.css"
---


<html lang="en">
	<head>
		<script src="../javascript/look.js"></script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>looking</title>
	</head>
    <body>
        <div id="the_image" class="absolute">
            test
        </div>
    </body>
</html>